[submodule "ui"]
	path = ui
	url = git://github.com/webim/webim-ui.git
[submodule "uchome"]
	path = uchome
	url = git://github.com/webim/webim-for-uchome.git
[submodule "discuzX"]
	path = discuzX
	url = git://github.com/webim/webim-for-discuzX.git
[submodule "php"]
	path = php
	url = git://github.com/webim/webim-php.git
[submodule "discuz"]
	path = discuz
	url = git://github.com/webim/webim-for-discuz.git
